In [1]:
# import our modules
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import SelectKBest, SelectFromModel

In [3]:
# displaying all columns in the dataset
pd.set_option('display.max_columns', None)

#reading and displaying the dataset in pandas
data = pd.read_csv('cleaned_attrition_dataset.csv', low_memory=False)

# Sample and display 5 rows of our dataset
data.sample(5)

,Age_group,Attrition,BusinessTravel,DailyRate,Department,Distance_group,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
869,46-60,No,Travel_Rarely,1450,Research & Development,Far,College,Life Sciences,Very satisfied,Male,52,Satisfied,Executive,Research Director,Dissatisfied,Married,19081,10849,5,Y,No,11,Low,Very dissatisfied,80,Level 2,21-30,2,Good,1-10,2,0,3
698,31-45,No,Travel_Rarely,1219,Sales,Far,Bachelors degree,Medical,Satisfied,Female,86,Satisfied,Junior or Associate,Sales Executive,Satisfied,Married,4601,6179,1,Y,No,16,Low,Dissatisfied,80,Level 1,1-10,3,Good,1-10,2,1,0
264,18-30,Yes,Travel_Rarely,529,Research & Development,Near-by,Masters degree,Life Sciences,Very dissatisfied,Male,79,Satisfied,Entry level,Laboratory Technician,Satisfied,Single,3485,14935,2,Y,No,11,Low,Satisfied,80,Level 1,1-10,5,Bad,1-10,0,0,0
1176,46-60,No,Travel_Rarely,301,Research & Development,Very far,Masters degree,Other,Very dissatisfied,Female,72,Satisfied,Senior,Research Director,Dissatisfied,Married,16413,3498,3,Y,No,16,Low,Dissatisfied,80,Level 3,21-30,2,Good,1-10,2,1,2
1109,18-30,No,Travel_Rarely,1288,Sales,Very far,Masters degree,Technical Degree,Satisfied,Male,33,Satisfied,Mid level Specialist,Sales Executive,Dissatisfied,Married,9250,17799,3,Y,No,12,Low,Dissatisfied,80,Level 2,1-10,3,Good,1-10,2,1,3